<div class="container">
    <div class="card" style="margin: 120px 0">
        <div class="card-header">
            <h5 class="card-title text-center">Change Password</h5>
        </div>
        <div class="card-body">
            <form #f="ngForm" (ngSubmit)="changePassword()">
                <div class="form-group">
                    <label for="Current Password">Current Password</label>
                    <input type="password" name="current_password" class="form-control rounded-0"
                        [(ngModel)]="passwordData.current_password" placeholder="Enter your Current Password" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input #pass="ngModel" [(ngModel)]="passwordData.password" name="password" type="password"
                        class="form-control rounded-0" placeholder="Enter password" required>
                    <div class="alert alert-danger" *ngIf="pass.touched && !pass.valid">Password field cannot be left
                        blank.
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm_password">confirm password</label>
                    <input #confirm_pass="ngModel" [(ngModel)]="passwordData.confirm_password" name="confirm_password"
                        type="password" class="form-control rounded-0" placeholder="confirm password" required>
                    <div class="alert alert-danger" *ngIf="confirm_pass.value !== pass.value">Password must match.</div>
                    <div class="alert alert-danger" *ngIf="confirm_pass.touched && !confirm_pass.valid">Password field
                        cannot be
                        left blank.</div>
                </div>
                <button type="submit" class="btn btn-success float-right" [disabled]="!f.form.valid">Submit</button>
            </form>
        </div>
    </div>
</div>