@import '~@angular/material/theming';

@include mat-core();

$my-theme-primary: mat-palette($mat-blue);
$my-theme-accent: mat-palette($mat-cyan, A200, A100, A400);


$my-app-theme: mat-dark-theme($my-theme-primary, $my-theme-accent);

@include angular-material-theme($my-app-theme);

$alt-theme-primary: mat-palette($mat-green);
$alt-theme-accent: mat-palette($mat-cyan, A200, A100, A400);

$my-app-theme: mat-light-theme($my-theme-primary, $my-theme-accent);

@include angular-material-theme($my-app-theme);